<div class="page-container">
    <div class="recipes-title-container">
        <h1>Recipes</h1>

        <div class="recipes-search-container">
            <input type="text" name="search" placeholder="Search Recipe" />
        </div>
    </div>
    {{#each recipes}}
    <div class="recipes-overview-container">
        <a href="/viewrecipe/{{this._id}}">
            <div class="recipes-overview-title">
                <h2>{{this.recipeName}}</h2>
            </div>

            <div class="recipes-overview-image">
                <img src="../public/uploads/{{img}}" class="recipes-thumbnail" width='396px' length='618px' />
            </div>
        </a>

        <div class="recipes-overview-info">
            <div class="overview-profile-container">
                <img src="/public/images/Profile Icon.png" />
                <a href="/viewaccount/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a>
            </div>

            <div class="overview-rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
    {{/each}}

</div>