    <div class="page-container">
    <div class="accountinfo">
        {{#if isMe}}
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <p>{{user.email}}</p>
            <a href="/editaccount" class="button">Edit Account</a>
        {{else}}
            <h1>{{queriedUser.firstName}} {{queriedUser.lastName}}</h1>
            <p>{{queriedUser.email}}</p>
        {{/if}}
 
    </div>

    <div class="recipes-overview-container">
        <a href="/viewrecipe/{{this._id}}">
            <div class="recipes-overview-title">
                <h2>Sheet Pan Sausage & Veggies</h2>
            </div>

            <div class="recipes-overview-image">
                <img src="/public/images/Sheet Pan Sausage & Veggies.png" class="recipes-thumbnail" />
            </div>
        </a>

        <div class="recipes-overview-info">
            <div class="accountrecipe-buttoncontainer">
                <a href="/editrecipe" class="button">Edit</a>
                <a href="/viewaccount" class="button">Delete</a>
            </div>

            <div class="overview-rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>